body
{
    background-color: #c6f1de;
    color: #fef1c7;
    
}
*
{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0,8em;
    color: #fef1c7;
}
*::selection
{
    color: coral;
}
p
{
    color: #fef1c7;
    border:solid 2px gold;
    border-radius: 10px;
    padding: 10px;
}
p::first-letter
{
    font-size: 200%;
    color: green;
}
h3
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-line: underline;
    color:#fef1c7;
    font-size: 0,8em;
}
a
{
    text-decoration: none;
    color: #fef1c7;
    
}
a:hover
{
    color: white;
    background-color: #fef1c7;
}
a:visited
{
    color:brown;
}
a:visited:hover
{
    color:yellow;
}

h1
{
    text-align: center;
}

img 
{
    max-width: 75%;
    height: auto;
    border: solid orangered;
    border-radius: 0% 10% 10% 10%;
}
#Banner img 
{
    border: none;
    height: auto;
    width: auto;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
 
}
#Banner p::first-letter
 {
    font-size:100%;
    color: black;
    
}
#Banner p
{
    text-align: center;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: cursive;
    background-color: orange;
    padding: 5px;
}
#Footer p
{
    padding: 4px;
    background-color: #c6f1de;
    color: white;
    border: none;
    border: radius 0%; 
}
#Footer p::first-letter
{
    background-color: #c6f1de;
    color: white;
    border: none;
    border: radius 0%; 
    font-size: 100%;
}
#Wrapper 
{
    width: 920px;
    padding: 10px;
    border: solid 2px #abe3c6;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#Navigatiemenu 
{
    list-style-type: none;
    line-height: 1.8;
    color: #fef1c7;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-decoration: underline #abe3c6;
}
#content 
{
    padding-top: 1em;
    
}
